// Light theme color
$light-background-1: #fafafa;
$light-backgorund-2: #cccccc;

// Dark theme color
$dark-background-1: #2e2e2e;
$dark-background-2: #464646;

// Heading color
$light-heading: #319fbb;
$dark-heading: #09647a;

// Text color
$light-text: #f0f0f0;
$dark-text: #2b2b2b;
