.home {
	&__header {
		font-size: 28px;
		font-weight: 500;
		margin-bottom: 0;
		color: $dark-text-1;
	}

	&__subheader-1 {
		font-size: 16px;
		color: $dark-text-2;
		margin-bottom: 0;
	}
}

.card {
	margin: 0;

	p {
		color: $dark-heading;
		font-weight: 600;
	}
}
