nav {
	background-color: $light-background-1;

	.sidenav {
		background-color: $light-background-1;
	}

	.brand-logo,
	.sidenav-trigger {
		color: $dark-heading;
		font-weight: 600;
	}

	li {
		a {
			color: black;
			padding: 0 25px;
		}
	}
}

.sidenav li > a:hover,
nav ul a:hover {
	background-color: rgba($color: $light-heading, $alpha: 0.1);
}
