.teams__container {
  margin-top: 100px;

  h5 {
    margin: 38px auto 0 auto;
    text-align: center;
    color: $dark-heading;
    font-size: 22px;
    font-weight: 500;
  }

  .card {
    margin: 30px auto;
    padding-top: 24px;
    transition: all 0.25s ease-in-out;

    &-image {
      img {
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto;
      }

      button:hover {
        box-shadow: 0px 0px 10px 1px rgba(0, 58, 102, 0.5);
      }

      i {
        background-color: white;
        color: black;
      }
    }

    p {
      color: $dark-background-1;

      span {
        color: darkgrey;
      }
    }

    &:hover {
      box-shadow: 0px 0px 10px 1px rgba(0, 58, 102, 0.75);
    }
  }
}

#favorite {
  margin-top: 0;

  &-header {
    font-size: 28px;
    font-weight: 500;
    margin: 39px auto 0 auto;
    color: $dark-heading;
  }

  #empty-card {
    height: 280px;
    width: 250px;
  }

  &-team {
    .card {
      min-height: 400px;

      &-action {
        padding: 25px;
      }
    }

    .removeFromFavorite {
      background-color: crimson;
    }
  }
}

#offline {
  margin-top: 0;

  #empty-card {
    height: 250px;
    width: 250px;
  }

  &-div {
    .card {
      height: 400px;

      &-action {
        padding: 25px;
      }
    }
  }
}
